<div class="demo-checkbox">
    <input type="checkbox" id="md_checkbox_21" class="filled-in chk-col-red" checked="">
    <label for="md_checkbox_21">Red</label>
    <input type="checkbox" id="md_checkbox_22" class="filled-in chk-col-pink" checked="">
    <label for="md_checkbox_22">Pink</label>
    <input type="checkbox" id="md_checkbox_23" class="filled-in chk-col-purple" checked="">
    <label for="md_checkbox_23">Purple</label>
    <input type="checkbox" id="md_checkbox_24" class="filled-in chk-col-deep-purple" checked="">
    <label for="md_checkbox_24">Deep Purple</label>
    <input type="checkbox" id="md_checkbox_25" class="filled-in chk-col-indigo" checked="">
    <label for="md_checkbox_25">Indigo</label>
    <input type="checkbox" id="md_checkbox_26" class="filled-in chk-col-blue" checked="">
    <label for="md_checkbox_26">Blue</label>
    <input type="checkbox" id="md_checkbox_27" class="filled-in chk-col-light-blue" checked="">
    <label for="md_checkbox_27">Light Blue</label>
    <input type="checkbox" id="md_checkbox_28" class="filled-in chk-col-cyan" checked="">
    <label for="md_checkbox_28">Cyan</label>
    <input type="checkbox" id="md_checkbox_29" class="filled-in chk-col-teal" checked="">
    <label for="md_checkbox_29">Teal</label>
    <input type="checkbox" id="md_checkbox_30" class="filled-in chk-col-green" checked="">
    <label for="md_checkbox_30">Green</label>
</div>

